<!DOCTYPE HTML>
<head>
    <title>Instapopular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<div class="login-page">
    <div class="form">

        <form class="register-form" method="post" action="loginToInst">
            <button>Запустить сканирование</button>
            <br><br>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>

        <form class="register-form" method="post" action="analysis">
            <label for="doNotUnsubscribeField">Не отписываться от кол-лайков:</label>
            <input id="doNotUnsubscribeField" type="number" name="doNotUnsubscribe"/>

            <button>Установить</button>
            <br><br>
            <p class="message"><a href="#">Добавление/удаление фото.</a></p>

            <br>
            <hr>
            <div><b><h3>Активности</h3></b></div>
            {{#analysisView}}
                <div>
                    <table width="100%">
                        <tr>
                            <td><a target="_blank" href="https://www.instagram.com/{{key}}">{{key}}</a></td>
                            <td width="30px"><b>{{value}}</b></td>
                        </tr>
                    </table>
                </div>
            {{/analysisView}}
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>

        <form class="login-form" method="post" action="addRemoveInAnalysis">
            <label for="add">Добавить фото?</label>
            <input id="add" type="text" name="addPhoto" placeholder="Ссылка на фото"/>

            <label for="remove">Удалить фото?</label>
            <input id="remove" type="text" name="removePhoto" placeholder="Ссылка на фото"/>

            <button type="submit">Выполнить</button>
            <br><br>
            <p class="message"><a href="#">К запуску.</a></p>

            <br>
            <hr>
            <div><b><h3>Список моих фото</h3></b></div>
            {{#photoView}}
                <div>
                    <table width="100%">
                        <tr>
                            <th><a target="_blank" href="https://www.instagram.com/{{key}}">{{key}}</a></th>
                            <th width="30px"><b>{{value}}</b></th>
                        </tr>
                    </table>
                </div>
            {{/photoView}}
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
</body>