<!DOCTYPE HTML>
<head>
    <title>Instapopular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<div class="login-page">
    <div class="form">

        <form class="register-form" method="post" action="scanClient">
            <button>Запустить сканирование</button>
            <br><br>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>

        <form class="register-form" method="post" action="group">
            <label for="countSubscriptionsField">На сколько акаунтов?</label>
            <input id="countSubscriptionsField" type="number" name="countSubscriptions" placeholder="350"/>

            <label for="actionField">Введите действие</label>
            <input id="actionField" type="text" name="action" placeholder="SUBSCRIBE_AND_LIKE"/>
            <h6>Возможные действия: SUBSCRIBE, LIKE, SUBSCRIBE_AND_LIKE</h6>

            <button>Начать</button>
            <br><br>
            <p class="message"><a href="#">Редактирование групп.</a></p>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

            <br>
            <hr>
            <div><b><h3>Список клиентов</h3></b></div>
            {{#scanClient}}
                <div>
                    <a target="_blank" href="https://www.instagram.com/{{key}}">{{key}}</a>
                    <br>
                </div>
            {{/scanClient}}
        </form>

        <form class="login-form" method="post" action="addRemove">
            <label for="add">Добавить группу?</label>
            <input id="add" type="text" name="addGroup" placeholder="Название группы"/>

            <label for="remove">Удалить группу?</label>
            <input id="remove" type="text" name="removeGroup" placeholder="Название группы"/>

            <button type="submit">Выполнить</button>
            <br><br>
            <p class="message"><a href="#">Начать работу?</a></p>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

            <br>
            <hr>
            <div><b><h3>Список групп</h3></b></div>
            {{#groupView}}
                <div>
                    <a target="_blank" href="https://www.instagram.com/{{key}}">{{key}}</a>
                    <br>
                </div>
            {{/groupView}}
        </form>
    </div>
</div>

<script type="text/javascript">
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>
</body>
