<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="post" action="top">
        <input type="text" name="login" placeholder="Введите логин от инстаграма"/>
        <br>
        <input type="text" name="password" placeholder="Введите пароль от инстаграма">
        <br>
        <input type="text" name="action" placeholder="ДДведите действие">
        <br>
        <button type="submit">Начать</button>
    </form>
</div>
</body>
</html>