<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="top">
            <label for="loginField">Введите логин от инстаграма</label>
            <input id="loginField" type="text" name="login" placeholder="lilka.lily.1"/>

            <label for="passwordField">Введите пароль от инстаграма</label>
            <input id="passwordField" type="password" name="password" placeholder="password"/>

            <label for="actionField">Введите действие</label>
            <input id="actionField" type="text" name="action" placeholder="LIKE"/>
            <h6>Возможные действия: SUBSCRIBE, LIKE, SUBSCRIBE_AND_LIKE</h6>

            <button>Начать</button>
        </form>

    </div>
</div>

</body>
</html>