<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form method="post" action="unsub">
        <table>
            <tr>
                <td><label for="loginField">Введите логин от инстаграма</label></td>
                <td><input id="loginField" type="text" name="login" placeholder="lilka.lily.1"></td>
            </tr>
            <tr>
                <td><label for="passwordField">Введите пароль от инстаграма</label></td>
                <td><input id="passwordField" type="password" name="password"></td>
            </tr>
            <tr>
                <td><label for="countUnsubscribeField">От скольки отписываться?</label></td>
                <td><input id="countUnsubscribeField" type="number" name="countUnsubscribe" placeholder="400"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="Начать"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>