<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" rel="stylesheet">
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="unsub">
            <label for="loginField">Введите логин от инстаграма</label>
            <input id="loginField" type="text" name="login" placeholder="lilka.lily.1"/>

            <label for="passwordField">Введите пароль от инстаграма</label>
            <input id="passwordField" type="password" name="password" placeholder="password"/>

            <label for="countUnsubscribeField">От скольки отписываться?</label>
            <input id="countUnsubscribeField" type="number" name="countUnsubscribe" placeholder="400"/>

            <button>Начать</button>
            <br><br>
            <p class="message"><a href="#">Редактирование групп.</a></p>
        </form>

        <form class="register-form" method="post" action="addRemoveUnsub">
            <label for="add">Добавить группу?</label>
            <input id="add" type="text" name="addGroup" placeholder="Название группы"/>

            <label for="remove">Удалить группу?</label>
            <input id="remove" type="text" name="removeGroup" placeholder="Название группы"/>

            <button type="submit">Выполнить</button>
            <br><br>
            <p class="message"><a href="#">Начать работу?</a></p>
        </form>

        <br><hr>
        <div><b><h3>Не отписываться от</h3></b></div>
        {{#groupView}}
            <div>
                <table width="100%">
                    <tr>
                        <th><a target="_blank" href="https://www.instagram.com/{{key}}">{{key}}</a></th>
                        <th width="30px"><b>{{value}}</b></th>
                    </tr>
                </table>
            </div>
        {{/groupView}}
    </div>
</div>

<script type="text/javascript">
$('.message a').click(function(){
$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
</body>